<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="guestbook">

	<sql id="search">
		<choose>
			<when test="search_option == 'name_gender' ">
				and (
				name like '%' || #{search_data} || '%' or
				content like '%' ||
				#{search_data} || '%')
			</when>
			<when
				test="search_option != null and search_option !='' and search_data != null and search_data != '' ">
				and (${search_option} like '%' || #{search_data} || '%')
			</when>
			<otherwise>
				and no > '0'
			</otherwise>
		</choose>
	</sql>

	<insert id="setInsert">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			select seq_guestbook.nextval from dual
		</selectKey>
		insert into guestbook (no, passwd, name, email, content, regi_date) 
		values (#{no}, #{dto.name}, #{dto.passwd}, #{dto.email}, #{dto.content}, sysdate)
	</insert>
	
	<select id="getList" resultType="guestbook.model.dto.GuestbookDTO">
		select * from (select A.*, Rownum rnum from (
		select * from
		guestbook where 1=1
		<include refid="search"></include>
		<![CDATA[order by no desc ) A) where rnum >= #{startRecord} and rnum <= ${lastRecord}]]>
	</select>
	
	<select id="getTotalRecord" resultType="int">
		select count(*) from guestbook where 1=1
		<include refid="search"></include>
	</select>
	
	<update id="setModify">
		update guestbook set name=#{dto.name}, email=#{dto.email}, content=#{dto.content} where no=#{dto.no} and passwd=#{dto.passwd}
	</update>
	
	<delete id="setDel">
		delete from guestbook where no=#{no} and passwd=#{passwd}
	</delete>
	
</mapper>